# Ignore bundler config
/.bundle

# Ignore database and accounts config
/config/database.yml
/config/accounts.yml

# Ignore all logfiles and tempfiles
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

# ignore uploads
/public/uploads/*

# no clue where this comes from, must be a beta thing
mkmf.log
