default: &default
  host: localhost
  template: template0
  adapter: postgresql
  timeout: 5000
  encoding: unicode
  pool: 5
  username: postgres
  password:

development:
  <<: *default
  database: glodjib_v3_development

test:
  <<: *default
  database: glodjib_v3_test
